[submodule "Latex_Template"]
	path = Latex_Template
	url = gogs@git.foss-ag.de:FOSS_AG/Latex_Template.git
[submodule "design_latex-template"]
	path = design_latex-template
	url = https://github.com/foss-ag/design_latex-template.git
